@charset "UTF-8";
/* CSS Document */

html {font-size: 100%;} /*16px*/

body {
  background-color: #3365C7;
  margin: 0;
  padding: 50px;
  line-height: 1.75;
}
h1 {

  font-size: 5em;
  color: #E3A8BB;
  font-family: "Impact", sans-serif;
}

h2 {
  font-size: 3em;
  font-family: "Impact", sans-serif;
  color: #E3A8BB;
}

p {
  font-size: 1.3em;
  font-family: "Times New Roman"
  color: ""
}

ul {
  font-size: 1.3em;
  font-family: "Times New Roman"
}
